@import url('https://css.gg/menu-round.css');
@import url('https://css.gg/support.css');
@import url('https://css.gg/twilio.css');
@import url('https://css.gg/log-in.css');

/*<i class="gg-support"></i>*/

html {
    min-width: 700px;
    display: flex;
    flex-direction: column;
}

a:link{
    text-decoration: none;
    width:20%;
}

body {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    font-family: Phantomsans, sans-serif;
    margin: 1% 2.5%;
    height: 65px;
}

.header .button-menu {
    width: 20%;
    height: 85%;
    padding: 10px 5px;
    align-items: center;
}

.header .button-menu span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

div.SA {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    width: 80%;
    height: 100%;
}

div.SA a:link .button-64 {
    display: flex;
    align-items: center;
    text-decoration: none;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 30px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Phantomsans, sans-serif;
    font-size: 16px;
    padding: 10px 5px;
    cursor: grab;
    width: 100%;
    height: 55px;
}

div.SA  .button-64 span {
    display: flex;
    align-items: center;
}


.button-64 {
    display: flex;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 30px;
    text-decoration: none;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Phantomsans, sans-serif;
    padding: 4px;
    cursor: grab;
    width: 170px;
}

.button-64 span {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 5px 5px;
    border-radius: 200px;
    width: 100%;
    height: 100%;
    transition: 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-menu {
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 30px;
    /*box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;*/
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Phantomsans, sans-serif;
    padding: 4px;
}

.button-64:active,
.button-menu:hover,
.button-64:hover,
.button-menu:active {
    outline: 1;
}

.button-menu span {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 7px 5px 5px;
    border-radius: 200px;
    width: 100%;
    height: 100%;
    transition: 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-menu i {
    margin-left: 2%;
}

button.button-menu span i.gg-log-in {
    margin-left: 15px;
}

button.button-menu span i.gg-twilio {
    margin-left: 12px;
}

.button-menu:hover i.gg-log-in {
    transform: translateX(5px);
    transition: 1s;
}

.button-menu:hover i {
    animation: displacement 2s;
}

main {
    display: flex;
    justify-content: space-evenly;
    height: 875px;
    margin: 1% 0;
}

.hero-section {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 75%;
}

.landing {
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border-radius: 30px;
    box-sizing: border-box;
    color: #0e0e0e;
    font-family: Phantomsans, sans-serif;
    padding: 4px;
    width: 30%;
    margin: 0 25px;
}

.landing span {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.landing span img {
    border-radius: 30px 30px 0 0;
    height: 60%;
}

span .texto-landing {
    height: 40%;
    border-radius: 25px 0 0 25px;
    /*
    backdrop-filter: blur(1.8px);
    -webkit-backdrop-filter: blur(1.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    word-break: break-all;
    padding: 0 2%;
    border-radius: 0 0 30px 30px;
}

.texto-landing p {
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    height: 50%;
}

.texto-landing .buttons-inline {
    background: linear-gradient(288deg, #AF40FF, #5B42F3, #00DDEB);
    backdrop-filter: blur(1.8px);
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 80%;
    align-items: flex-end;
    justify-content: space-between;
    color: black;
}

.texto-landing .button-64 {
    margin-top: 25px;
    height: 60px;
    padding-bottom: 14px;
    font-weight: bolder;
}

.texto-landing .button-64 .text {
    color: #0e0e0e;
    height: 100%;
}

.texto-landing .button-64:hover .text {
    animation: herosection-color-change 1.25s forwards;
}

@keyframes loader {
    0% {
        rotate: 0deg;
    }

    100% {
        border-radius: 50%;
        rotate: 360deg;
    }
}

@keyframes displacement {
    100% {
        transform: translateX(50px);
    }
}

@keyframes herosection-color-change {
    0% {
        background-color: rgb(255, 255, 255);
    }

    100% {
        background-color: rgb(238, 95, 0);
    }
}

@media (max-width: 1000px) {

    .hero-section {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 1500px;
    }

    .texto-landing .buttons-inline {
        max-width: 70%;
        margin-bottom: 2%;
    }

    .landing {
        min-width: 500px;
        max-height: 30%;
    }

    div.SA {
        visibility: collapse;
    }

    .header {
        flex-direction: column;
        align-self: center;
        align-items: center;
        justify-items: center;
        width: 100%;
    }

    .button-menu span {
        width: 100%;
    }

}