@import url('https://css.gg/menu-round.css');
@import url('https://css.gg/support.css');
@import url('https://css.gg/twilio.css');
@import url('https://css.gg/log-in.css');

/*<i class="gg-support"></i>*/
body {
    background-color: rgb(6, 8, 88);
}

header.session {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    color: #FFFFFF;
    font-family: Phantomsans, sans-serif;
    margin-inline: 12px;
}

div.SA  {
    display: flex;
    font-size: 20px;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 200px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    padding: 4px;
    cursor: grab;
    width:100%;
}

div.SA span {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgb(5, 6, 45);
    padding: 6px 150px 6px 150px;
    border-radius: 200px;
    width: 100%;
}

header.session div.buttons {
    display: flex;
    justify-self: end;
    align-items: baseline;
    justify-content: baseline;
}

header.session .button-menu span {
    width: 220px;
    height: 2.35ch;
}

button.button-menu span i.gg-log-in {
    margin-left: 15px;
}

button.button-menu span i.gg-twilio {
    margin-left: 12px;
}

.button-menu:hover i.gg-log-in {
    transform: translateX(5px);
    transition: 1s;
}

.button-menu:hover .fecha>p{
    transform: translateY(-3px);
    transition: 1s;
}

.SA i{
    margin-left: 2%;
}

.SA:hover i{
animation: displacement 2s ;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content: baseline;
}

.dropdown-content {
    display: none;
}

.dropdown:hover .dropdown-content {
    position: absolute;
    top: 53px;
    display: flex;
    flex-direction: column;
}

.dropdown-content a {
    color: #000000;
    text-decoration: none;
    margin: 2px;
}


.dropdown-content a:hover {
    color: #FFFFFF;
}

.button-64 {
    display: flex;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 30px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Phantomsans, sans-serif;
    padding: 4px;
    cursor: grab;
    width: 170px;
}

.button-menu {
    display: flex;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 30px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Phantomsans, sans-serif;
    padding: 4px;
    cursor: grab;
    width: auto;
}

.button-64:active,
.button-menu:hover,
.button-64:hover,
.button-menu:active {
    outline: 1;
}

.button-64 span,
.button-menu span {
    background-color: rgb(5, 6, 45);
    padding: 5px 5px;
    border-radius: 200px;
    width: 100%;
    height: 100%;
    transition: 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-64:hover span,
.button-menu:hover span {
    background: none;
}

.button-menu:hover span i.gg-twilio {
    animation: loader 2s infinite;
}

.landing{
    display: flex;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 30px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Phantomsans, sans-serif;
    padding: 4px;
    margin: 3px;
    cursor: grab;
}

.landing span{
    background-color: rgb(5, 6, 45);
    padding: 5px 5px;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    transition: 500ms;
    display: flex;
    align-items: center;
    justify-content: center;

}
.landing img{
    border-radius: 25px;
}

@keyframes loader {
    0% {
        rotate: 0deg;
    }

    100% {
        border-radius: 50%;
        rotate: 360deg;
    }
}

@keyframes displacement {
    0%{
        opacity: 1;
    }

    100%{
        transform: translateX(400px);
        opacity: 0;
    }
    
}

@media (min-width: 768px) {

    .button-64,
    .button-menu {
        font-size: 16px;
    }
}
